<ion-view view-title="Brand Stories">
  <ion-content>

    <div class="list padding-left padding-right" ng-repeat=" brnd in brandstory">
      <div class="item item-divider" style="background-color: #01BCFF">
      <h2 class="text-center"style="color:ghostwhite;">{{brnd.BRDS_NAME}}</h2>
        <button class="button button-clear button-energized pull-right" style="right: -5px; top: -25px;bottom: 10px" ng-click="shareAnywhere(brnd)"><i class="icon ion-android-share-alt"></i></button>
      </div>
      <p class=" item item-text-wrap">{{brnd.BRDS_DESC}}</p>
      <div class="item item-image">
        <div class="embed-responsive embed-responsive-16by9">
            <img ng-src="http://www.repsol.com/creatividad/productos_y_servicios/lubricantes/gama_moto/es_en/img/Moto2.png">
         <!--<img ng-src="brnd.URL_URL">-->
        </div>

        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-url="anotherGoodOne"></youtube-video>
          <!--<img ng-src="http://www.repsol.com/creatividad/productos_y_servicios/lubricantes/gama_moto/es_en/img/Moto2.png">-->
          <!--<youtube-video class="embed-responsive-item" video-url="anotherGoodOne" player-vars="playerVars">
          </youtube-video>-->
        </div>
      </div>
      <div class="item item-text-wrap" ng-if="brnd.URL_URL">
        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-document-text"></i>
         For more info, Read PDF
        </a>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>

