
<ion-view title='<img class="title-image" src="img/logo.png">'>
    <ion-content >
        <!--<div class="hero no-header flat">
            <div class="app-icon"></div>
        </div>-->
     <div class="row">
       <div class="col">
         <p style="text-align: center" class="item-text-wrap">Change Password</p>
       </div>
     </div>

      <form name="changePassForm">
        <div class="list">
            <label class="item-input margn_top" for="currentPassword"><input placeholder="Enter Current password" id="currentPassword" type="password" name="currentPassword" ng-model="changepass.currentpassword" ng-model-options="{ debounce: 250 }" required></label>
            <label class="item-input margn_top"><input placeholder="New Password" type="password" name="password" ng-model="changepass.password" required></label>
            <label class="item-input margn_top"><input placeholder="Confirm Password" type="password" name="conPassword" ng-model="changepass.conpassword" required></label>
        </div>
        <button ng-disabled="changePassForm.$invalid || changepass.password!==changepass.conpassword" class="button button-full custom-dark1 ink" ng-click="changePassword(changepass,changePassForm)">Submit</button>
        <div style="text-align: center">
          <p ng-show="changePassForm.currentPassword.$error.required && changePassForm.currentPassword.$dirty">Current Password required</p>
          <p ng-show="changePassForm.password.$error.required && changePassForm.password.$dirty">Password required</p>
         <!-- <p ng-show="changePassForm.conPassword.$error.required && changePassForm.conPassword.$dirty">Please confirm your password.</p>-->
          <p ng-show="changePassForm.$invalid && changepass.password!==changepass.conpassword">Please confirm your password</p>
        </div>
      </form>

    </ion-content>
</ion-view>

