<ion-view view-title="Change Password">
    <ion-content ng-class="{expanded:isExpanded}" class="">
        <div class="hero no-header flat">
            <div class="app-icon"></div>
        </div>
      <form name="changePassForm">
        <div class="list">
            <label class="item-input margn_top"><input placeholder="Enter Current password" type="password" name="currentPassword" ng-model="changepass.currentpassword"></label>
            <label class="item-input margn_top"><input placeholder="New Password" type="password" name="password" ng-model="changepass.password"></label>
            <label class="item-input margn_top"><input placeholder="Confirm Password" type="password" name="conPassword" ng-model="changepass.conpassword"></label>
        </div>
        <button ng-disabled="changePassForm.$invalid" class="button button-full custom-dark1 ink" ng-click="changePassword(changepass,changePassForm)">Submit</button>
        <div ng-show="changePassForm.$invalid">
          <p ng-show="changePassForm.currentPassword.$error.required && changePassForm.$dirty">Current Password required</p>
          <p ng-show="changePassForm.password.$error.required && changePassForm.$dirty">Password required</p>
          <p ng-show="changePassForm.conPassword.$error.required && changePassForm.$dirty">Confirm Password</p>
        </div>
      </form>
    </ion-content>
</ion-view>
