<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
    <ion-content>
      <p class="title" style="text-align: center; padding-top: 0.5em;">Welcome {{profiles.FULL_NAME}}</p>

      <div class="padding header_top">
            <button ng-click="news()" class="button button-block custom-dark1 ink">News</button>
            <button ng-click="productKnowledge()" class="button button-block custom-dark2 ink">Product Knowledge</button>
            <button ng-click="chooseChampion()" class="button button-block custom-dark3 ink">Champion's Choice</button>
            <button ng-click="notification()" class="button button-block custom-dark1 ink">Notifications</button>
            <button ng-click="brandStories()" class="button button-block custom-dark2 ink">Brand Stories</button>
            <button ng-click="feedbackQuery()" class="button button-block custom-dark3 ink">Feedback & Query</button>
          <!--<button ng-click="dashBoard()" class="button button-block custom-dark3 ink">DashBoard</button>-->
        </div>
    </ion-content>
</ion-view>

