<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <div class="item-text-wrap">
      <p style="text-align: center">Champion's Choice</p>
    </div>
    <div class="list padding">
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;">Select Brand</div>
        <select name="bikeBrand" ng-model="bikeBrand" ng-change="selectBikeBrand(bikeBrand)" class="custom-dark3"  style="color:white;"
                ng-options="bikeBrand.name as bikeBrand.name for bikeBrand in bikeBrands" >
          <option style="display:none; font-size: 1.0em;" value="" >&nbsp;</option>
        </select>
      </label><br>
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;">Select Model</div>
        <select name="bikeModel" ng-model="bikeModel" ng-change="selectBikeModel(bikeModel)" class="custom-dark3" style="color:white;">
          <option class="custom-dark2"  ng-repeat="bikeModel in models" >{{bikeModel.REC_MODEL}}</option>
        </select>
      </label>
    </div>
    <div class="padding" ng-show="showrecommendation">
      <p style="text-align: center"><strong>CC:</strong> {{recmds[0].CC}}</p>
      <div class="row">
        <div class="col custom-dark3" style="text-align: center;font-size: 1em">Repsol Recommendation Oil</div>
      </div>
      <div class="row">
        <div class="col custom-dark4 padding" style="text-align: center;height: 45px; font-size: 1.3em">{{recmds[0].REC_RECOMMENDATION}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
