<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <div class="tabs tabs-icon-top static">
      <p>Champion's Choice</p>
    </div>
    <div class="list padding">
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;">Select Brand</div>
        <select name="bikeBrand" ng-model="bikeBrand" ng-change="selectBikeBrand(bikeBrand)" class="custom-dark3"  style="color:white;"
                ng-options="bikeBrand.name as bikeBrand.name for bikeBrand in bikeBrands" >
          <option style="display:none; font-size: 1.0em;" value="" >&nbsp;</option>
        </select>
      </label><br>
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;">Select Model</div>
        <select name="bikeModel" ng-model="bikeModel" ng-change="selectBikeModel(bikeModel)" class="custom-dark3" style="color:white;">
          <option class="custom-dark2"  ng-repeat="bikeModel in models" >{{bikeModel.REC_MODEL}}</option>
        </select>
      </label>
    </div>
    <div class="" ng-show="showrecommendation">
      <ul class="list">
        <li class="item" style="background-color: #cccccc;"><strong>CC:</strong> {{recmds[0].CC}}</li><br>
        <li class="item" style="background-color: #cccccc;"><strong>Repsol Recommendation Oil :</strong>{{recmds[0].REC_RECOMMENDATION}}</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
