<ion-view view-title="Order">
  <ion-content>
    <div class="tabs tabs-icon-top static">
      <p>Create Order</p>
    </div>
    <div name="product padding">
      <div class="list padding">
        <label class="item item-input item-select custom-dark3">
          <div class="input-label">Select Segment</div>
          <select name="retailCreateOrderSegment" ng-model="retailCreateOrderSegment" ng-change="retailsegmentDetail(retailCreateOrderSegment)" class="custom-dark2">
            <option class="custom-dark2" value="{{retailCreateOrderSegment.SEG_PK_ID}}" ng-repeat="retailCreateOrderSegment in retailCreateOrderSegments" >{{retailCreateOrderSegment.SEG_NAME}}</option>
          </select>
        </label>
      </div>
      </div>
      <div class="list padding" >
        <label class="item item-input item-select custom-dark3">
          <div class="input-label">Select Product</div>
          <select name="retailCreateProduct" ng-model="retailCreateProduct" ng-change="retailcreateproductDetail(retailCreateProduct)" class="custom-dark2" ng-disabled="disproduct">
            <option class="custom-dark2" value="{{retailCreateProduct.PROD_PK_ID}}" ng-repeat="retailCreateProduct in retailCreateproducts" >{{retailCreateProduct.PROD_NAME}}</option>
          </select>
        </label>
      </div>
      <!--<div class="list padding">
          <label class="item item-input item-select custom-dark3">
            <div class="input-label">Quantity</div>
            <select ng-model="quantity" class="custom-dark2" ng-change="qty(quantity)" ng-disabled="disqty">
              <option selected value="5" class="custom-dark2">5</option>
              <option value="10"  class="custom-dark2" >10</option>
              <option value="15" class="custom-dark2" >15</option>
              <option value='20' class="custom-dark2">20</option>
            </select>
          </label>
        </div>-->
       <!-- <div class="col col-20">
          <input type="number" placeholder=" Filter Quantity..." ng-model="qty" />
        </div>
        <div class="col col-offset-10 col-20"></div>
      </div>-->
        <!--<div class="header padding-top" >
        <h4 class="title" style="text-align: center">Selected products</h4>
        </div>

          <div class="row header col-box ">
            <div class="col col-33 custom-dark3">Unit Pack</div>
            <div class="col col-33 custom-dark3">Qty</div>
            <div class="col col-33 custom-dark3">Qty in Ltr</div>
          </div>
          <hr/>
        <div class="row">
          <div class="col col-33">{{product.PROD_UNIT_PACK}}</div>
          <div class="col col-33">{{qtyltr}}</div>
          <div class="col col-33">  {{qtyltr * product.PROD_UNIT_PACK}}</div>
        </div>

-->

    <div class="row  list">
      <div class="col padding">

        <div class="row">
          <div class="col custom-dark3">Product Code :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_CODE}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark1">SKU Size :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_SKU_SIZE}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark3">UOM :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_UOM}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark1">MRP Per Pack :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_MRF}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Billing Price Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_BILLING_PRICE_PER_LITER}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark1">Product Discount Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.proDis}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Landing Price Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_BILLING_PRICE_PER_LITER-products.proDis}} </strong></div>
        </div>
        <div class="row product_margin" ng-show="rlid==3">
          <div class="col custom-dark1">Order Qty in Nos :</div>
          <div class="col custom-dark2"><input type="number"  ng-model="oqin"></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Order Qty in Liters :</div>
          <div class="col custom-dark2"><strong class="product_font">{{oqin*products.PROD_UOM}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark1">Order Amount :</div>
          <div class="col custom-dark2"><strong class="product_font">{{(oqin*products.PROD_UOM)*(products.PROD_BILLING_PRICE_PER_LITER-products.proDis)}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==4">
          <div class="col custom-dark3">DLP Per Pack:</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_DLP}}</strong></div>
        </div>
         <div class="row product_margin" ng-if="rlid==4">
        <div class="col custom-dark3">Product Discount Per Pack :</div>
        <div class="col custom-dark2"><strong class="product_font">{{products.PROD_DISCOUNT_PER_PACK}}</strong></div>
        </div> <div class="row product_margin" ng-if="rlid==4">
          <div class="col custom-dark3">Landing Price Per Pack :</div>
          <div class="col custom-dark2"><strong class="product_font">{{(products.PROD_DLP)-products.PROD_DISCOUNT_PER_PACK}}</strong></div>
        </div> <div class="row product_margin" ng-show="rlid==4">
          <div class="col custom-dark3">Order Qty in Nos  :</div>
          <div class="col custom-dark2"><input type="number"  ng-model="oqin"></div>
        </div><div class="row product_margin" ng-if="rlid==4">
          <div class="col custom-dark3">Order Amount :</div>
          <div class="col custom-dark2"><strong class="product_font">{{oqin*(products.PROD_DLP-products.PROD_DISCOUNT_PER_PACK)}}</strong></div>
        </div>
      </div>

    </div>
      <div style="text-align: center"  class="padding-top"><button class="button button-small custom-dark1" ng-disabled="canbook"  ng-click="confirmorder()">order</button></div>

  </ion-content>
</ion-view>
