<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <div class="tabs tabs-icon-top static">
      <p>Change Password</p>
    </div>
    <form name="createPassForm">
      <div class="list">
        <label class="item-input margn_top"><input placeholder="New Password" type="password" name="password" ng-model="createpass.password" required /></label>
        <label class="item-input margn_top"><input placeholder="Confirm Password" type="password" name="conPassword" ng-model="createpass.conPassword" required /></label>
      </div>
      <div class="row">
        <div class="col col-offset-34"><button ng-disabled="createPassForm.$invalid || createpass.password!==createpass.conPassword" class="button buttonwidth custom-dark1 ink" ng-click="createNewPassword(createpass ,createPassForm)">Next</button></div>
      </div>

      <div style="text-align: center">
        <p ng-show="createPassForm.password.$error.required && createPassForm.password.$dirty">Password required</p>
        <!-- <p ng-show="changePassForm.conPassword.$error.required && changePassForm.conPassword.$dirty">Please confirm your password.</p>-->
        <p ng-show="createPassForm.$invalid && createpass.password!==createpass.conPassword">Please confirm your password</p>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
