<ion-view  title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <!--<p class="title" style="text-align: center; padding-top: 0.5em;">Create Order</p>-->
    <div class="tabs tabs-icon-top static">
      <p>Create Order</p>
    </div>
    <div class="list padding">
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;font-size: 1.1em">Select Segment</div>
        <select name="retailCreateOrderSegment" ng-model="retailCreateOrderSegment" ng-change="retailsegmentDetail(retailCreateOrderSegment)" class="custom-dark3" style="color:white;font-size: 1.1em"
                ng-options="retailCreateOrderSegment.SEG_PK_ID as retailCreateOrderSegment.SEG_NAME for retailCreateOrderSegment in retailCreateOrderSegments">
          <option style="display:none; font-size: 10px;" value="" >&nbsp;</option>
        </select>
      </label><br>
      <label class="item item-input item-select custom-dark3">
        <div class="input-label item-text-wrap" style="color:white;font-size: 1.1em">Select Product</div>
        <select name="retailCreateProduct" ng-model="retailCreateProduct" ng-change="retailcreateproductDetail(retailCreateProduct)" class="custom-dark3" ng-disabled="disproduct"
                style="color:white;font-size: 1.1em" ng-options="retailCreateProduct.PROD_PK_ID as retailCreateProduct.PROD_NAME for retailCreateProduct in retailCreateproducts">
          <option style="display:none; font-size: 10px;" value=""  ></option>
        </select>
      </label>
    </div>

    <div class="row  list">
      <div class="col padding">

        <div class="row">
          <div class="col custom-dark3">Product Code :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_CODE}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark3">SKU Size :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_SKU_SIZE}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark3">UOM :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_UOM}}</strong></div>
        </div>
        <div class="row product_margin">
          <div class="col custom-dark3">MRP Per Pack :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_MRF}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Billing Price Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_BILLING_PRICE_PER_LITER}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Product Discount Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.proDis}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Landing Price Per Liter :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_BILLING_PRICE_PER_LITER-products.proDis}} </strong></div>
        </div>
        <div class="row product_margin" ng-show="rlid==3">
          <div class="col custom-dark1">Order Qty in Nos :</div>
          <div class="col custom-dark2"><input type="number"  ng-model="oqin"></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark3">Order Qty in Liters :</div>
          <div class="col custom-dark2"><strong class="product_font">{{oqin*products.PROD_UOM}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==3">
          <div class="col custom-dark1">Order Amount :</div>
          <div class="col custom-dark2"><strong class="product_font">{{(oqin*products.PROD_UOM)*(products.PROD_BILLING_PRICE_PER_LITER-products.proDis)}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==4">
          <div class="col custom-dark3">DLP Per Pack:</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_DLP}}</strong></div>
        </div>
        <div class="row product_margin" ng-if="rlid==4">
          <div class="col custom-dark3">Product Discount Per Pack :</div>
          <div class="col custom-dark2"><strong class="product_font">{{products.PROD_DISCOUNT_PER_PACK}}</strong></div>
        </div> <div class="row product_margin" ng-if="rlid==4">
        <div class="col custom-dark3">Landing Price Per Pack :</div>
        <div class="col custom-dark2"><strong class="product_font">{{(products.PROD_DLP)-products.PROD_DISCOUNT_PER_PACK}}</strong></div>
      </div> <div class="row product_margin" ng-show="rlid==4">
        <div class="col custom-dark3">Order Qty in Nos  :</div>
        <div class="col custom-dark2"><input type="number"  ng-model="oqin"></div>
      </div><div class="row product_margin" ng-if="rlid==4">
        <div class="col custom-dark3">Order Amount :</div>
        <div class="col custom-dark2"><strong class="product_font">{{oqin*(products.PROD_DLP-products.PROD_DISCOUNT_PER_PACK)}}</strong></div>
      </div>
      </div>

    </div>
    <div style="text-align: center"  class="padding-top"><button class="button button-small custom-dark1" ng-disabled="oqin<=0" ng-show="rlid==4" ng-click="confirmorderForRetailer(oqin)">Order</button></div>
    <div style="text-align: center"  class="padding-top"><button class="button button-small custom-dark1" ng-disabled="oqin<=0"  ng-show="rlid==3" ng-click="confirmorderForDistributor(oqin)">Order</button></div>

  </ion-content>
</ion-view>
