<ion-view view-title="Profile Info.">
  <ion-content class="" scroll="false">
    <div class="card" style="background-color: #e6e6e6">
      <div class="item item-divider" style="background-color: #dddddd">
        <h2 class="" style="color: black; text-align: center">{{profile.FIRST_NAME}}</h2>
      </div>
      <div class="item item-divider row">
        <div class="col col-center my_profile_css">Email Id :<strong style="padding-left: 5px;color: #1bb556">{{profile.EMAIL_ID}}</strong></div>
        <div class="col col-center">Firm Name: <strong style="padding-left: 5px;color: #1bb556">{{profile.FIRM_NAME}}</strong></div>
      </div>
      <div class=" row">
        <div class="col col-center my_profile_css">Region: <strong style="padding-left: 5px;color: #1bb556">{{profile.REGION_NAME}}</strong></div>
        <div class="col col-center">City :<strong style="padding-left: 5px; color: #1bb556">{{profile.CITY_NAME}}</strong></div>
      </div>
      <div class=" row">
        <div class="col col-center my_profile_css">Full Name :<strong style="padding-left: 5px;color: #1bb556">{{profile.FULL_NAME}}</strong></div>
        <div class="col col-center">Date Of Birth :<strong style="padding-left: 5px; color: #1bb556">{{profile.DOB | date:'dd/MM/yyyy'}}</strong></div>
      </div>
      <div class=" row">
        <div class="col col-center my_profile_css">Mobile Number 1 : <strong style="padding-left: 5px;color: #1bb556">{{profile.MOBILE_PHONE}}</strong></div>
        <div class="col col-center">Mobile Number 2 :<strong style="padding-left: 5px;color: #1bb556">{{profile.MOBILE2}}</strong></div>
      </div>

    </div>
    <!--<div class="list">
    <div class="row padding">
    <div class="col-50">Region :</div>
    <div class="col-50"> {{profile.REGION_NAME}}</div>
    </div>
    <div class="row padding">
    <div class="col-50">City :</div>
    <div class="col-50">{{profile.CITY_NAME}}</div>
    </div>
    <div class="row padding">
    <div class="col-50">Firm Name :</div>
    <div class="col-50">{{profile.FIRM_NAME}}</div>
    </div>
    &lt;!&ndash;<div class="row padding">
    <div class="col-50">Distributor Code :</div>
