<ion-view view-title="Profile Info.">
  <ion-content class="back_color1">
    <div class="list">
      <div class="row padding">
        <div class="col-50">Region :</div>
        <div class="col-50"> {{profile.REGION_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">City :</div>
        <div class="col-50">{{profile.CITY_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Firm Name :</div>
        <div class="col-50">{{profile.FIRM_NAME}}</div>
      </div>
      <!--<div class="row padding">
        <div class="col-50">Distributor Code :</div>
        <div class="col-50">{{}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Distributor Name :</div>
        <div class="col-50">{{}}</div>
      </div>-->
      <div class="row padding">
        <div class="col-50">First Name :</div>
        <div class="col-50">{{profile.FIRST_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Middle Name :</div>
        <div class="col-50">{{profile.MIDDLE_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Last Name :</div>
        <div class="col-50">{{profile.LAST_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Full Name :</div>
        <div class="col-50">{{profile.FULL_NAME}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Mobile Number 1 :</div>
        <div class="col-50">{{profile.MOBILE_PHONE}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Mobile Number 2 :</div>
        <div class="col-50">{{profile.MOBILE2}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Email Id :</div>
        <div class="col-50">{{profile.EMAIL_ID}}</div>
      </div>
      <div class="row padding">
        <div class="col-50">Date Of Birth :</div>
        <div class="col-50">{{profile.DOB}}</div>
      </div>
      <!--<div class="row padding">
        <div class="col-50">Date Of Anniversary :</div>
        <div class="col-50">{{profile.DOB}}</div>
      </div>-->
      <div class="row padding">
        <div class="col-50">Address Line1 :</div>
        <div class="col-50">{{profile.ADDRESS_LINE1}}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
