<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content class="">
    <div class="hero no-header flat">
      <div class="app-icon"></div>
      <div class="content"></div>
      <div class="row">
        <div class="col col-30 font_color"><input type="radio" id="feedback" name="reading" value="feedback" ng-model="choose" />
          <label for="feedback"> Feedback </label>
        </div>
        <div class="col font_color"><input type="radio" id="query" name="reading" value="query" ng-model="choose" />
          <label for="query"> Query </label>
        </div>
      </div>
    </div>
    <ng-form name="feedbackForm" ng-show="choose == 'feedback'">
      <!--<div style="text-align: center">
        <div ng-show="feedbackForm.$invalid">
          <p ng-show="feedbackForm.subject.$error.required && feedbackForm.$dirty" class="error_msg_color">Subject required</p>
          <p ng-show="feedbackForm.message.$error.required && feedbackForm.$dirty" class="error_msg_color">Feedback required</p>
        </div>
      </div>-->
      <label class="item-input margn_top"><input placeholder="Write Subject" type="text" name="subject" ng-model="feedback.subject" required/></label>
      <div class="card">
        <label class="item-input margn_top">
          <textarea type="text" placeholder="Write your feedback" rows="4" name="message" ng-model="feedback.message" style="text-align:center" required></textarea>
        </label>
      </div>
      <br>
      <button ng-disabled="feedbackForm.$invalid" class="button button-full custom-dark1 ink" ng-click="submitFeedback(feedback)">Submit</button>


    </ng-form>
    <ng-form name="queryForm" ng-show="choose == 'query'">
      <!--<div style="text-align: center">
        <div ng-show="queryForm.$invalid">
          <p ng-show="queryForm.subject.$error.required && queryForm.$dirty" class="error_msg_color">Subject required</p>
          <p ng-show="queryForm.question.$error.required && queryForm.$dirty" class="error_msg_color">Query required</p>
        </div>
      </div>-->
      <label class="item-input margn_top"><input placeholder="Write Subject" type="text" name="subject" ng-model="query.subject" required/></label>
      <!--<label class="item-input margn_top card">
        <textarea type="text" placeholder="Write your Query" rows="4" name="message" ng-model="query.question" style="text-align:center" required></textarea>
      </label>-->
      <div class="card">
        <label class="item-input margn_top">
          <textarea type="text" placeholder="Write your Query" rows="4" name="question" ng-model="query.question" style="text-align:center" required></textarea>
        </label>
      </div>
      <br>
      <button ng-disabled="queryForm.$invalid" class="button button-full custom-dark1 ink" ng-click="submitQuery(query)">Send</button>
    </ng-form>

    <!--<ion-list>
      <ion-item ng-repeat="qmg in queryfeedbackmsg">
        <div class="row">
          <div class="col" style="text-align: left;font-size: 1em">{{qmg.QUESTION}}</div>
        </div>
        <div class="row">
          <div class="col" style="text-align: left;font-size: 1em"></div>
        </div>
      </ion-item>
    </ion-list>

    <div class="padding">
      <div class="row">
        <div class="col custom-dark3" style="text-align: left;font-size: 1em">Repsol Recommendation Oil</div>
      </div>
      <div class="row">
       <p>{{}}</p>
      </div>
    </div>-->
    <div class="padding-top padding-left" ng-show="choose == 'query'">
      <h4>Previous Queries</h4>

    <div class="list card" ng-repeat=" qmg in queryfeedbackmsg" >
      <div class="item item-text-wrap" style="background-color:#656565">
        <h2 class="text-left"style="color:ghostwhite;padding-top: 0.5em">Question: <strong>{{qmg.QUESTION}}</strong></h2>
      </div>
      <p class=" item item-text-wrap" style="color: green">Answer: <strong ng-show="qmg.ANSWER==null"> Not yet Answered</strong> <strong>{{qmg.ANSWER}}</strong></p>
    </div>
    </div>
  </ion-content>
</ion-view>
