<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
    <ion-content>
        <div class="tabs tabs-icon-top static">
            <p>Forgot Password</p>
        </div>
        <div class="list">
            <label class="item-input margn_top1"><input placeholder="Mobile Number" type="text" ng-model="mobile"/></label>
           </div>
        </div>
        <button class="button button-block custom-dark3 ink" ng-disabled="!mobile" ng-click="forgotpass(mobile)">Generate Otp</button>
      <label ng-show="true"><p>{{userinfo}} </p></label>
      <label ng-show="true"><p>{{message}} </p></label>
    </ion-content>
</ion-view>
