<ion-view hide-nav-bar="true">
  <ion-content class="splash" scroll="false">
    <div class="row">
    <div class="col" style="text-align: center;padding-top: 50px"><img src="img/logo.png"></div>
    </div>
<!--    <div class="brading">
      <img src="img/logo.png">
    </div>-->

    <div class="row" style="bottom: 180px; position: fixed; text-align: center;">
      <div class="col"><button ng-click="homeLogin()" class="button custom-dark1 ink" style="width: 50%">Login</button></div>
    </div>
    <div class="row" style="bottom: 100px; position: fixed; text-align: center;">
      <div class="col"><button ng-click="homeRegistration()" class="button custom-dark2 ink" style="width: 50%">Registration</button></div>
    </div>




  </ion-content>
</ion-view>
