<!--<ion-nav-bar align-title="center">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
          &lt;!&ndash;  <ion-nav-buttons side="right"><a href="#/app/logout" class="button icon ion-log-out button-clear"></a></ion-nav-buttons>&ndash;&gt;
</ion-nav-bar>-->
<ion-nav-bar class="bar-energized" align-title="center">
  <ion-nav-back-button class="no-text"></ion-nav-back-button>
  <ion-nav-buttons></ion-nav-buttons>

</ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>

