<ion-view>
  <ion-content>

      <h2 style="text-align: center">My Orders</h2>

    <ion-list ng-repeat="myOrder in myOrders" class="card" id="grad1">
      <div class="item item-text-wrap font_size">
        <div class="row">
          <div class="col profile_color">Date :</div>
          <div class="col">{{myOrder.ADD_DATE}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product Code :</div>
          <div class="col">{{myOrder.PROD_CODE}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product Name :</div>
          <div class="col">{{myOrder.PROD_NAME}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product DLP :</div>
          <div class="col">{{myOrder.PROD_DLP}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product UOM :</div>
          <div class="col">{{myOrder.PROD_UOM}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Landing Price :</div>
          <div class="col">{{myOrder.landingprice}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product Quantity :</div>
          <div class="col">{{myOrder.PROD_QTY}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Product Discount :</div>
          <div class="col">{{myOrder.PROD_DISCOUNT}}</div>
        </div>
        <div class="row">
          <div class="col profile_color">Order Amount :</div>
          <div class="col">{{myOrder.ORD_AMOUNT | number:2}}</div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
