<ion-view>
  <ion-content>
    <h2 class="title" style="text-align: center">My Team Orders</h2>
    <ion-list class="card" ng-repeat="order in orderdetails">
      <div class="item-text-wrap borderline" ng-class-even="'even'">
        <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}" class="acolor">
          <div class="row padingremove">
            <div class="col">
              <strong> {{order.ROLE_NAME}} Name:</strong>  {{order.FULL_NAME}}
            </div>
          </div>
          <div class="row padingremove">
            <div class="col"><strong>Product:</strong> {{order.PROD_NAME}}</div>
          </div>

          <div class="row padingremove">
            <div class="col"><strong>Amount:</strong> {{order.ORD_AMOUNT | number}}</div>
            <div class="col"><strong>Date:</strong> {{order.ADD_DATE}}</div>
            <div class="col padingremove col-center">
              <strong ng-if="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Awaiting'" style="color:blue">Pending</strong>
            <strong ng-if="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Reject'" style="color: red">Rejected</strong>
            <strong ng-if="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Approve'" style="color: darkgreen">Approved</strong></div>
          </div>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
