<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center" >
  <ion-content>
    <h2 class="title" style="text-align: center">My Team Orders</h2>
    <ion-list class="card" ng-repeat="order in orderdetails" ng-show="order.SALEL2_ID==userId">
      <ion-item class="item-text-wrap borderline" ng-class-even="'even'">
        <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}" class="acolor">
          <div class="row padingremove">
            <div class="col">
               <strong> {{order.ROLE_NAME}} Name:</strong>  {{order.FULL_NAME}}
            </div>
            </div>
          <div class="row padingremove">
            <div class="col"><strong>Product:</strong> {{order.PROD_NAME}}</div>
          </div>

          <div class="row padingremove">
            <div class="col"><strong>Amount:</strong> {{order.ORD_AMOUNT | number}}</div>
            <div class="col"><strong>Date:</strong> {{order.ADD_DATE}}</div>
            <div class="col padingremove col-center">
              <span ng-if="order.SALEL2_ID==userId && order.ORD_STATUS_L2=='Awaiting'" style="color:blue">Pending</span>
              <span ng-if="order.SALEL2_ID==userId && order.ORD_STATUS_L2=='Reject'" style="color: red">Rejected</span>
              <span ng-if="order.SALEL2_ID==userId && order.ORD_STATUS_L2=='Approve'" style="color: darkgreen">Approved</span></div>
          </div>

        </a>
      </ion-item>



    </ion-list>

    <ion-list class="card" ng-repeat="order in orderdetails" ng-if="order.SALEL1_ID==userId">
      <ion-item class="item-text-wrap borderline">
        <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}" class="acolor">
          <div class="row padingremove">
            <div class="col">
              <strong> {{order.ROLE_NAME}} Name:</strong>  {{order.FULL_NAME}}
            </div>
          </div>
          <div class="row padingremove">
            <div class="col"><strong>Product:</strong> {{order.PROD_NAME}}</div>
          </div>

          <div class="row padingremove">
            <div class="col"><strong>Amount:</strong> {{order.ORD_AMOUNT | number}}</div>
            <div class="col"><strong>Date:</strong> {{order.ADD_DATE}}</div>
            <div class="col padingremove col-center">
              <span ng-show="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Awaiting'" style="color:blue">Pending</span>
              <span  ng-if="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Reject'" style="color: red">Rejected</span>
              <span ng-if="order.SALEL1_ID==userId && order.ORD_STATUS_L1=='Approve'" style="color: darkgreen">Approved</span></div>
          </div>

        </a>
      </ion-item>



    </ion-list>
    <!--<ion-list class="card" ng-repeat="order in orderdetails" ng-if="order.SALEL1_ID==userId">
      <ion-item>
        <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}"> <div class="row">
          <div class="col">
            <p >{{order.ROLE_NAME}} Name : {{order.FULL_NAME}}</p>
          </div>
        </div>
          <div class="row">
            <div class="col-34"><p>Order Id: {{order.ORD_PK_ID}}</p></div>
            <div class="col"><p>Date: {{order.ADD_DATE}}</p></div>
            <div class="col col-center"><p >Pending</p>
              <p>Rejected</p>
              <p >Approved</p></div>
          </div>
        </div></a>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>


<!--<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <h3 class="padding-top" style="text-align: center">My Team Orders</h3>
    <ion-list ng-repeat="order in orderdetails">
      &lt;!&ndash;<ion-item style="padding-top: .5em">
        &lt;!&ndash;<a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}"> <div class="row">
          <div class="col-20"><h3>Order Id: &nbsp;&nbsp;&nbsp;{{order.ORD_PK_ID}}</h3></div>
          <div class="col"><p>Date: {{order.ADD_DATE}}</p></div>
        </div></a>&ndash;&gt;
        <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}" class="item item-divider" style="background-color: #01BCFF; border-radius: 4px;">
          <div class="row">
            <div class="col" style="text-align: center"><h3>Order Id: &nbsp;&nbsp;&nbsp;{{order.ORD_PK_ID}}</h3></div>
            <div class="col"><h3>Date: {{order.ADD_DATE}}</h3></div>
          </div>
        </a>
      </ion-item>&ndash;&gt;
      <div class="card">
        <div class="item item-icon-right">
          <a href="#/app/orderMyTeamDetail/{{order.ORD_PK_ID}}" class="text-center">
            <div class="row">
              <div class="col"><h3>Order Id:{{order.ORD_PK_ID}}</h3></div>
              <div class="col"><h3>Date: {{order.ADD_DATE}}</h3></div>
            </div>
            <i class="icon ion-chevron-right"></i>
          </a>
        </div>
      </div>
    </ion-list>



  </ion-content>
</ion-view>-->

