<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
      <h2 style="text-align: center">News</h2>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!-- <div class="tabs tabs-icon-top static">
         <p>&nbsp;</p>
     </div>-->
    <ion-list ng-repeat="new in newlist" class="card">
      <div class="item item-text-wrap">
        <div class="row"><div class="col" style="text-align: right"><p>{{new.ADD_DATE}}</p></div></div>
        <div class="row custom-dark3">
          <div class="col"><p style="color: #e6e6e6">{{new.NEWS_TITILE}}</p></div>
        </div>

        <img  class="item-image full-image" ng-src="{{'http://labs.govasool.com/repsol_v1/upload_files/news/'+new.URL_URL}}">
        <div class="item custom-dark2">
          <p class="">{{new.NEWS_DESC}}</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
