<ion-view view-title="Create Order">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="tabs tabs-icon-top static">
            <p>&nbsp;</p>
        </div>
        <div class="padding">
            <button ng-click="distributorOrder()" class="button button-full button-assertive ink">Create Order</button>
        </div>
      <div class="padding">
        <button ng-click="MyOrders()" class="button button-full button-assertive ink">My Orders</button>
      </div>
      <div class="padding">
        <button ng-click="MyTeamOrders()" class="button button-full button-assertive ink">My Team Orders</button>
      </div>
      <!--<div>
        <h2 class="title" style="text-align: center">Order History</h2>
        <ion-list>
          <ion-item>
            <div class="item-divider">Hello</div>
            Hello
          </ion-item>
        </ion-list>
      </div>-->
    </ion-content>
</ion-view>
