<ion-view vtitle='<img class="title-image" src="img/logo.png">'align-title="center">
    <ion-content>
        <!--<div class="tabs tabs-icon-top static">
            <p>&nbsp;Create Order</p>
        </div>-->
        <div class="padding">
            <button ng-click="distributorOrder()" class="button button-full button-assertive ink">Create Order</button>
        </div>
      <div class="padding" ng-hide="dismyorder">
        <button ng-click="MyOrders()" class="button button-full button-assertive ink">My Orders</button>
      </div>
      <div class="padding" ng-show="relid==2">
        <button ng-click="MySlm1TeamOrders()"  class="button button-full button-assertive ink">My Team Orders</button>
      </div>
      <div class="padding" ng-show="relid==6">
        <button ng-click="MySlm1TeamOrders()"  class="button button-full button-assertive ink">My Team Orders</button>
      </div>
      <div class="padding" ng-show="relid==7">
        <button ng-click="MySlm1TeamOrders()"  class="button button-full button-assertive ink">My Team Orders</button>
      </div>
      <div class="padding" ng-show="relid==3">
        <button ng-click="MyDisTeamOrders()"  class="button button-full button-assertive ink">My Team Orders</button>
      </div>

      <!--<div>
        <h2 class="title" style="text-align: center">Order History</h2>
        <ion-list>
          <ion-item>
            <div class="item-divider">Hello</div>
            Hello
          </ion-item>
        </ion-list>
      </div>-->
    </ion-content>
</ion-view>
