<ion-view>
  <ion-content>
    <h2 class="padding-top" style="text-align: center">Order Details</h2>
    <div class=" custom-dark3">
      <div class="row">
        <div class="col"><strong>Name: </strong>{{OrderDtl.FULL_NAME}}</div>
      </div>
    <div class="row">
      <div class="col"><strong>Firm Name: </strong>{{OrderDtl.FIRM_NAME}}</div>
    </div>
      </div>
      <ul class="list item-text-wrap">
        <li class="item padingremove line"><strong>Segment Name : </strong> {{OrderDtl.SEG_NAME}}</li>
        <li class="item padingremove odd line"><strong>Product Code : </strong> {{OrderDtl.PROD_CODE}}</li>
        <li class="item padingremove line"><strong>Product Name : </strong> {{OrderDtl.PROD_NAME}}</li>
        <li class="item padingremove odd line"><strong>Product Quantity : </strong> {{OrderDtl.PROD_QTY}}</li>
        <div ng-if="OrderDtl.ROLE_FK_ID==3">
          <li class="item padingremove"><strong>UOM : </strong> {{OrderDtl.PROD_UOM}}</li>
        <!--  <li class="item padingremove odd"><strong>Product Billing Price : </strong> Need to provide</li>-->
          <li class="item padingremove"><strong>Product Discount Price : </strong>{{OrderDtl.PROD_DISCOUNT | number:2}}</li>
          <li class="item padingremove odd"><strong>Product Landingprice : </strong>{{OrderDtl.landingprice | number:2}}</li>
          <li class="item padingremove"><strong>Product Qty in Liters : </strong>{{(OrderDtl.PROD_UOM) * (OrderDtl.PROD_QTY) | number:2}}</li>
          <li class="item padingremove odd"><strong>Product Amount : </strong>{{OrderDtl.ORD_AMOUNT | number:2}}</li>
        </div>
      <div ng-if="OrderDtl.ROLE_FK_ID==4">
        <div class="">
          <li class="item padingremove"><strong>DLP Per Pack : </strong> {{OrderDtl.PROD_DLP | number:2}}</li>
          <li class="item padingremove odd"><strong>Product Discount Price : </strong> {{OrderDtl.PROD_DISCOUNT | number:2}}</li>
          <li class="item padingremove"><strong>Product Landingprice : </strong>{{OrderDtl.landingprice | number:2}}</li>
          <li class="item padingremove odd"><strong>Product Amount : </strong>{{OrderDtl.ORD_AMOUNT | number:2}}</li>
        </div>
      </div>
        <li class="item padingremove item-text-wrap" ng-if="OrderDtl.ROLE_NAME!=='Retailer'" style="background-color: #9F9F9F"><strong>Outstanding Amount : </strong> {{OrderDtl.dueamount | number:2}}</li>
      </ul>

    <div class="row item-text-wrap" style="text-align:center !important;">

        <button class="button button-small button-positive" ng-disabled="approvestatus" ng-click="Approve()" ng-if="OrderDtl.SALEL1_ID==userId && OrderDtl.ORD_STATUS_L1=='Awaiting' ">
                  Approve
                </button>
              &nbsp;

                <button class="button button-small button-positive" ng-disabled="approvestatus" ng-click="Approve()" ng-if="OrderDtl.SALEL2_ID==userId  && OrderDtl.ORD_STATUS_L2=='Awaiting' ">
                  Approve
                </button>&nbsp;

                <button class="button button-small button-assertive" ng-disabled="approvestatus"  ng-click="DisApprove()" ng-if="OrderDtl.SALEL1_ID==userId && OrderDtl.ORD_STATUS_L1=='Awaiting'">
                  Reject
                </button>
              &nbsp;

                <button class="button button-small button-assertive" ng-disabled="approvestatus"  ng-click="DisApprove()" ng-if="OrderDtl.SALEL2_ID==userId && OrderDtl.ORD_STATUS_L2=='Awaiting'">
                  Reject
                </button>

            </div>
      <br/>
    <br/>
    <br/>



  </ion-content>
</ion-view>
