<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center" >
  <ion-content  style="background-color: white">
    <h2 style="text-align: center">Product Knowledge</h2>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!--ng-class="{expanded:$scope.isExpanded}"-->
    <h2 class="has-header"></h2>
    <ion-list ng-repeat="productKnowledge in productKnowledges" class="card">
      <div class="item item-text-wrap">
        <div class="row custom-dark3">
          <div class="col"><h2>{{productKnowledge.PRODK_TITILE}}</h2></div>
        </div>
        <img class="item-image full-image" ng-src="{{'http://labs.govasool.com/repsol_v1/upload_files/Productknowledge/'+productKnowledge.URL_URL}}">
        <div class="item custom-dark2">
          <p class="">{{productKnowledge.PRODK_DESC}}</p>
        </div>
      </div>
  </ion-content>
</ion-view>
