<ion-view>
  <ion-content>
    <p class="title item-text-wrap" style="text-align: center; padding-top: 0.5em;">Welcome {{profiles.FULL_NAME}}</p>
        <div class="padding header_top">
            <button ng-click="profile()" class="button button-block custom-dark1 ink">My Profile</button>
            <button ng-click="productDetail()" class="button button-block custom-dark2 ink">Product Details</button>
            <button ng-click="createOrder()" class="button button-block custom-dark3 ink">Order Details</button>
            <button ng-click="notification()" class="button button-block custom-dark1 ink">Notifications</button>
            <button ng-click="brandStories()" class="button button-block custom-dark2 ink">Brand Stories</button>
            <button ng-click="feedbackQuery()" class="button button-block custom-dark3 ink">Feedback & Query</button>
            <button ng-click="changePassword()" class="button button-block custom-dark1 ink">Change Password</button>
        </div>
    </ion-content>
</ion-view>
