<ion-view view-title="Retailer Order">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="tabs tabs-icon-top static">
      <p>Retailer Order</p>
    </div>
    <div class="padding">
      <button ng-click="retailerCreateOrder()" class="button button-full button-assertive ink">Create Order</button>
    </div>

    <div ng-controller="CreateDistOrderCtrl as ctrl">
      <div class="row padding col-box">
        <div class="col" style="text-align: center">Ordered History</div>
      </div>
      <div class="row header col-box">
        <div class="col col-50">Product Name</div>
        <div class="col col-50">Quantity</div>
      </div>
      <div class="row" ng-repeat="data in ctrl.data">
        <div class="col col-50">{{data.name}}</div>
        <div class="col col-50">{{data.code}}</div>

      </div>
      <hr>
    </div>
  </ion-content>
</ion-view>
