<ion-view>
  <ion-content>
    <h2 class="title" style="text-align: center">Retailer's</h2>
    <ion-list class="card" ng-repeat="order in rtldetails">
      <ion-item class="item-text-wrap borderline" ng-class-even="'even'">
        <a href="#/app/retailerDtls/{{order.MEMBER_FK_ID}}" class="acolor">
          <div class="row padingremove">
            <div class="col">
              <strong> {{order.ROLE_NAME}} Name:</strong>  {{order.FULL_NAME}}
            </div>
          </div>
          <div class="row padingremove">
            <div class="col"><strong>Firm name :</strong> {{order.FIRM_NAME}}</div>
          </div>
          <div class="row padingremove">
            <div class="col  col-center">
              <span ng-if="order.APPROVED==0" style="color:blue">Waiting for Approval</span>
            </div>
          </div>
        </a>
      </ion-item>
  </ion-content>

  <br/>
</ion-view>
