<ion-view title='<img class="title-image" src="img/logo.png">'align-title="center">
  <ion-content>
    <div class="list card ">
      <label class="item item-input item-select custom-dark3">
        <div class="input-label" style="color:white; font-weight: bold">
          Period
        </div>
        <select name="periodName" ng-model="period" ng-change="changedPeriod(period)" style="color:white; font-weight: bold" class="custom-dark3"
                ng-options="period.PERIOD_ID as period.PERIOD_NAME for period in periods" >
          <option style="display:none; font-size: 1.0em;" value="" disabled>Select</option>
        </select>
      </label>

    </div>
    <div class="list card">
      <div class="item item-divider" style="text-align: center; padding-bottom:50px; background-color: #C3C3C3 ">Target Details</div>
      <div class="row">
        <div class="item col-66 item-text-wrap">Target</div>
        <div class="item">{{targetDetails.Target | number:2}}</div>
      </div>
      <div class="row oddeven">
      <div class="item col-66 item-text-wrap">Eligible Slab</div>
        <div class="item">{{targetDetails.Eligible_Slab | number:2}}</div>

      </div>
      <div class="row">
        <div class="item col-66 item-text-wrap">Actual Achievement</div>
        <div class="item">{{targetDetails.Actual_Achiement | number:2}}</div>
      </div>
      <div class="row oddeven">
        <div class="item col-66">Pending Target Qty </div>
        <div class="item">{{targetDetails.Pending_Target_Qty | number:2}}</div>

      </div>
      <div class="row">
        <div class="item col-66 item-text-wrap"> Achieved Incentive Amount</div>
        <div class="item">{{targetDetails.Achieved_Incentive_Amt | number:2}}</div>

      </div>



    </div>
    </ion-list>
  </ion-content>
  </ion-view>
